/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
  color: #F8F9FA;
}

body {
  background-image: url('forest.jpeg');
  font-family: Roboto, Arial, sans-serif;
  word-wrap: break-word;
}

button, input {
  min-height: 5vh;
  min-width: 8vw;
}

h1 {
  font-size: 2.5em;
}

h1, h2 {
  font-family: 'Bungee', 'Impact', 'Display';
}

h2 {
  font-size:  1.5em;
}

.italic {
  font-style: italic;
}
/******************************************
/* LAYOUT
/*******************************************/

section, footer {
  margin-bottom: 0;
  padding: 2em 1em;
}

footer {
  margin-top: 0;
}

.wrapper {
  background-color: #212529;
  color: #F8F9FA;
  margin: 5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

/* @ 800px width to desktop ??? (probably
  use flex
  two-columns: API Link & Search
  one column: Search results
*/

/* prefers light mode
/* light/dark toggle